# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Test coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
venv/
ENV/
env/

# IDE / Editor configuration
.vscode/
.idea/
.DS_Store
