# Requirements for AdaptEd
# Add your dependencies here
# e.g., fastapi, openai, sqlalchemy
langchain
langchain-community
langchain-text-splitters
langchain-google-genai
pypdf
chromadb
pydantic
pytest
python-dotenv
langchain-chroma
